.header {
  background: var(--background-color-default);
}

.header-navegation {
  display: grid;
  grid-template-columns: 20rem 1fr;
  align-items: center;
}

.header-navegation a {
  padding: 2rem;
}

.logo {
  border-right: 1px solid #ebe8e7;
}
.logo img {
  max-width: 8rem;
}

.btn-mobile {
  display: none;
}
.header-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.header-list li a {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--color-grey);
}
.header-list li:first-child {
  margin-left: 3rem;
}

.header-list li a:hover {
  transition: 0.1s;
  font-weight: bold;
  color: var(--color-blue);
  border-bottom: 1px solid #f2cbb9;
}

@media (max-width: 760px) {
  .logo img {
    max-width: 5rem;
  }
  .header-navegation a {
    padding: 1rem;
  }

  .header-navegation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .btn-mobile {
    background: transparent;
    border: none;
    width: 2.5rem;
    border-radius: 0.3rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
  }
  .btn-mobile::after {
    content: '';
    width: 2rem;
    height: 2px;
    color: var(--color-blue);
    background: var(--color-blue);
    margin: 0 auto;
    border-radius: 0.1rem;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
    transition: 0.2s;
  }
  .btn-mobile:focus,
  .btn-mobile:hover {
    outline: none;
  }
  .btn-mobile.ative::after {
    transform: rotate(90deg);
    width: 4px;
    height: 4px;
    border-radius: 0.6rem;
  }

  .header-list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0px;
    background: var(--background-color-default);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    padding: 0.6rem 0;
  }

  .header-list li {
    margin: 0 !important;
    gap: 0;
  }
  .header-list.ative {
    height: calc(25vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  .header-list li a {
    padding: 0.6rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
  }
}
