.grid-container {
  display: grid;
  grid-template-rows: 10% 90%;
  	grid-template-columns: 20% 60% 20%;
  grid-template-areas:
    'header header header'
    'menu content content '
    'menu content content ';
    height: 100vh;
}
.header {
  grid-column: header;
}
.menu {
  grid-area: menu;
}
.content {
  grid-area: content;
}
