.menu {
  padding: 1rem;
  background: #202020;
}

.menu  ul {
  display: grid;
  gap: 1rem;
}
.menu  ul li {
  display: flex;
align-items: center;  padding: .6rem ;
border-radius: .3rem;

}

.menu  ul li:hover {
  background: #616060;

}
.menu  ul li::before {
content: '';
width:5px;
height: 5px;
background: #616060;
margin-right: 1rem;

}